.main-logo {
  height: 100px;
  padding: 15px;
  margin: 25px 25%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #524f4e;
}
