.track-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.track-item {
  display: flex;
  flex-direction: column;
  border: white 2px solid;
  margin: 30px 30%;
  padding: 10px;
}

.track-info {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.track-img {
  height: 50px;
  margin: 20px;
}

.track-actions {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.favorite {
  color: coral;
  height: 15px;
}

.not-favorite {
  color: white;
  height: 15px;
}
