.track-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.track-item {
  display: flex;
  flex-direction: column;
  border: white 2px solid;
  margin: 25px 25%;
  padding: 15px;
  background-color: #696969;
}

.track-info {
  display: flex;
  align-items: center;
  margin: 10px;
}

.track-img {
  height: 40px;
  margin: 20px;
}

.track-actions {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.favorite {
  color: coral;
}

.not-favorite {
  color: white;
}
